
@{
    ViewData["Title"] = "OrderThankYou";
}

<h1>OrderThankYou</h1>

<div class="bg-orange-300">
    <p class=" text-3xl italic text-center text-gray-600 pt-12 pb-10">
       Thank you for ordering! Your orders will appear <a href="/UserOrders" ><b>here</b> </a>.
    </p>
</div>
